.CustomSiteLogin {
  position: relative;

  .account-icon {
    cursor: pointer;
    margin: 0 20px;
  }

  .HeaderLinks {
    .accNavComponent {
      nav {
        h5 {
          height: 25px;
          margin: 0;
          opacity: 0;
          overflow: hidden;
          padding: 0;
          position: absolute;
          top: 0;
          width: 61px;
        }
      }
    }
  }
}
