@import 'mixins';

.cx-page-section {
  padding-top: 0;

  .cx-sorting {
    height: calculateRem(102px);

    &.top {
      display: flex;
      align-items: center;
      justify-content: space-around;
      border-bottom: solid 1px var(--ssf-light-primary);

      .cx-sort-dropdown {
        margin-bottom: 0;
        display: flex;
        align-items: center;

        @include tablet-and-up {
          margin-right: auto;
        }
      }

      .ng-select-container {
        height: calculateRem(48px);
        border: none !important;
        min-width: calculateRem(150px);

        @include tablet-and-up {
          min-width: calculateRem(200px);
        }

        input {
          display: none;
        }

        .ng-value-label {
          font-size: calculateRem(12px);

          @include tablet-and-up {
            font-size: var(--ssf-font-size-mobile);
          }
        }
      }

      .ng-dropdown-panel {
        border: none;

        .ng-dropdown-panel-items {
          max-height: 260px;
          box-shadow: 0 8px 11px rgba(0, 0, 0, 0.1);

          .ng-option-label {
            font-size: var(--ssf-font-size-mobile);
          }
        }
      }
    }
  }
}

// Filters modal
.product-list-filters-modal {
  animation-name: slide-from-left;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  //width: 400px;

  .modal-content,
  .modal-dialog,
  .filters-container {
    height: 100%;
  }

  .modal-content {
    @include tablet-and-up {
      width: 408px;
    }
  }

  .modal-dialog {
    margin: 0;

    .cx-facet-filter-header,
    .cx-facet-filter-container {
      display: none;
    }

    .cx-search-facet {
      display: block !important;
    }

    .cx-facet-mobile {
      display: none !important;
    }
  }
}

.product-list-filters-backdrop {
  animation-name: fade-in;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);

  &.show {
    opacity: 0.8;
  }
}

@keyframes slide-from-left {
  0% {
    transform: translateX(-100%);
  }
  20% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

.ProductListPageTemplate .ProductLeftRefinements,
.ProductGridPageTemplate .ProductLeftRefinements {
  padding-top: 20px;
}

.ProductLeftRefinements {
  max-width: 18% !important;
}

.ProductListSlot {
  max-width: 100%;

  @include laptop-and-up {
    max-width: 82% !important;
  }
}
