@import 'mixins';

.cx-page-section {
  padding-top: 0;

  .cx-sorting {
    height: auto;

    &.top {
      align-items: center;
      border-bottom: solid 1px var(--ssf-light-primary);
      display: flex;
      justify-content: space-around;

      .cx-sort-dropdown {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex: 0 1 auto;
        margin-bottom: 0;
        padding: 0px 4px;

        @include tablet-and-up {
          flex-direction: row;
        }
      }

      .ng-select-container {
        border: none !important;
        height: auto;
        min-width: auto;
        padding: 0;

        @include tablet-and-up {
          height: calculateRem(48px);
          min-width: calculateRem(152px);
        }

        input {
          display: none;
        }

        .ng-value-label {
          font-size: calculateRem(12px);

          @include tablet-and-up {
            font-size: var(--ssf-font-size-mobile);
          }
        }
      }

      .ng-dropdown-panel {
        border: none;
        min-width: calculateRem(176px);

        .ng-dropdown-panel-items {
          max-height: 260px;
          box-shadow: 0 8px 11px rgba(0, 0, 0, 0.1);

          .ng-option-label {
            font-size: var(--ssf-font-size-mobile);
          }
        }
      }
    }
  }
}

.cx-product-image {
  &.is-missing {
    background-size: 177px !important;
    min-height: 177px !important;
  }
}

.ProductListPageTemplate .ProductLeftRefinements,
.ProductGridPageTemplate .ProductLeftRefinements {
  padding-top: 20px;
}

.ProductListSlot {
  max-width: 100%;

  @include laptop-and-up {
    max-width: 80% !important;
  }

  .cx-page {
    padding-bottom: 0px;
  }
}
