cx-searchbox > * {
  background-color: transparent;
}

cx-searchbox {
  position: relative;
  z-index: 20;

  .searchbox {
    height: 40px;
    margin: 0;
    position: relative;
    width: 240px;

    @include tablet-and-up {
      min-width: 240px;
    }

    &.dirty .search {
      display: none;
    }

    &:not(.dirty) .reset {
      display: none;
    }

    cx-icon {
      color: black;
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
    }

    input {
      background: #f1f2f3;
      border-radius: 27px;
      border: none;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      height: 100%;
      line-height: 26px;
      padding: 11px 20px;
      width: 100%;
    }
  }

  .results {
    background-color: #fff;
    color: #000;
    display: none;
    left: 0;
    position: absolute;
    top: 45px;
    width: 320px;

    a {
      color: black;
      cursor: pointer;
      font-weight: 800;
      text-decoration: none;

      .highlight,
      .search-results-highlight {
        font-style: normal;
        font-weight: normal;
      }

      &:hover {
        background: var(--cx-color-light);
        color: currentColor;
      }
    }

    .suggestions {
      display: flex;
      flex-wrap: wrap;
      padding: 0px 10px;

      a {
        flex: 100%;
        line-height: 2rem;
      }
    }

    .products {
      a {
        border-top: solid 1px var(--cx-color-light);
        display: grid;
        grid-column-gap: 16px;

        &.has-media {
          grid-template-columns: 50px 1fr;
        }

        cx-media {
          grid-row: 1 / 3;

          &.is-missing {
            background-size: 48px;
            min-height: 48px;
          }
        }
        h4.name {
          font-size: inherit;
          font-weight: inherit;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .price {
          font-weight: normal;
        }
      }
    }
  }
}

.searchbox-is-active {
  cx-searchbox {
    .results {
      display: block;
    }
  }
}
