.SiteContext {
  align-items: center;
  background-color: #f1f2f3;
  color: #1d1f22;
  flex: 100%;
  height: 40px;
  justify-content: flex-end;
  width: 100%;

  &:after {
    display: none;
  }

  cx-site-context-selector {
    color: #1d1f22;
    flex: none !important;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    margin: 0 8px;
    opacity: 0.6;
  }
}
