<div *ngIf="cart$ | async as cart" class="summary-container">
  <div class="summary-row">
    <p class="summary-label">
      {{ 'cartDetails.subtotal' | cxTranslate }}
    </p>
    <p class="summary-value">
      {{ cart.subTotal?.formattedValue }}
    </p>
  </div>
  <div class="summary-row">
    <p class="summary-label">
      {{ 'cartDetails.shippingAndHandling' | cxTranslate }}
    </p>
    <p class="summary-value">
      {{ cart.deliveryCost?.formattedValue || '-' }}
    </p>
  </div>
  <div class="summary-row">
    <p class="summary-label">
      {{ 'cartDetails.discount' | cxTranslate }}
    </p>
    <p class="summary-value">
      {{ cart.totalDiscounts?.formattedValue }}
    </p>
  </div>
  <div class="summary-row">
    <p class="summary-label">
      {{ 'cartDetails.tax' | cxTranslate }}
    </p>
    <p class="summary-value">
      {{ cart.totalTax?.formattedValue }}
    </p>
  </div>
  <div class="summary-row">
    <p class="summary-label">
      {{ 'cartDetails.grandTotal' | cxTranslate }}
    </p>
    <p class="summary-value">
      {{ cart.totalPriceWithTax?.formattedValue }}
    </p>
  </div>
</div>
