<div *ngIf="isReadOnly; else editableCoupons">
  <div *ngIf="sortedVouchers.length">
    <h3>
      {{ 'voucher.vouchersApplied' | cxTranslate }}
    </h3>
  </div>
  <div
    class="ssf-badge gray"
    *ngFor="let voucher of sortedVouchers"
    role="filter"
  >
    <span>{{ voucher.voucherCode }}</span>
  </div>
</div>

<ng-template #editableCoupons>
  <div *ngFor="let voucher of sortedVouchers" role="filter">
    <div>
      <span>{{ voucher.voucherCode }}</span>
      <button
        (click)="removeVoucher(voucher.voucherCode)"
        [class.disabled]="cartIsLoading"
        [disabled]="cartIsLoading"
        aria-label="Close"
        class="close"
        type="button"
      >
        <span aria-hidden="true">
          <cx-icon [type]="iconTypes.CLOSE"></cx-icon>
        </span>
      </button>
    </div>
  </div>
</ng-template>
