@import 'mixins';
.categories-container {
  .categories-header {
    align-items: center;
    display: flex;
    height: calculateRem(102px);
    border-bottom: solid 1px var(--ssf-light-primary);
    padding-left: 40px;
  }

  .categories-navigation {
    ul {
      list-style: none;
      padding-left: 40px;
      padding-top: 40px;

      li {
        padding-bottom: 10px;
        padding-top: 10px;
        color: var(--ssf-dark-primary);
      }
    }
  }
}
