image: node:12.14.0

pages:
  cache:
    paths:
      - node_modules/

  stage: deploy
  script:
    #- npm install -g @angular/cli@8.3.24
    - yarn
    - yarn build:pages
  artifacts:
    paths:
      - public
  only:
    - develop
