image: node:12.14.0

pages:
  cache:
    paths:
      - node_modules/
  stage: deploy
  script:
    - npm install -g firebase-tools
    - yarn
    - yarn build:firebase
    - firebase deploy --token "$FIREBASE_TOKEN"
  artifacts:
    paths:
      - public
    expire_in: "60 min"
  only:
    - develop
