@import 'mixins';
@import 'media';
.cx-product-search-list {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: var(--cx-color-light);
  margin: 0 0 25px 0;

  &:last-of-type {
    border-width: 0 0 0 0;
  }
}

.cx-product-image-container {
  display: block;
  text-align: center;
}

.cx-product-image {
  width: 100%;
}

.cx-product-name {
  text-align: left;
  display: block;
  margin: 0 0 3px 0;
  color: var(--ssf-dark-secondary);
  text-decoration: none;
  font-size: var(--ssf-font-size-desktop);

  @include tablet-and-up {
    font-size: calculateRem(18px);
    font-weight: 500;
    color: var(--ssf-dark-primary);
  }

  &:hover {
    color: var(--cx-color-primary);
  }
}

.product-details {
  @include tablet-and-up {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.rating {
  text-align: left;
  transform: scale(0.57);
  transform-origin: left;
  margin-bottom: 20px;
}

.cx-product-price {
  text-align: left;
  margin: 5px 0 0 0;
  font-size: calculateRem(18px);
  font-weight: 500;

  @include tablet-and-up {
    position: absolute;
    text-align: right;
    right: 0;
    top: 0;
    margin: 0;
  }

  &.old {
    color: var(--cx-color-secondary);
    text-decoration: line-through;
  }

  &.new {
    margin: 0 0 0 5px;
    color: var(--cx-color-primary);
  }
}
