<div class="pnf-container">
  <img
    src="../../../assets/icons/error.svg"
    alt="Error icon"
    class="pnf-image"
  />

  <h2 class="pnf-title">
    We can't find the page
  </h2>

  <p class="pnf-subtitle">
    Unfortunately we can't find the page you are looking for.
  </p>

  <div class="pnf-actions-container">
    <button (click)="navigateToHomePage()" class="btn btn-primary">
      Return to home
    </button>

    <button (click)="navigateToPreviousPage()" class="btn btn-link">
      Back
    </button>
  </div>
</div>
