<ng-container *ngIf="cards$ | async as cards">
  <h2 class="checkout-step-header">
    {{ 'checkoutAddress.shippingAddress' | cxTranslate }}
  </h2>
  <ng-container *ngIf="!forceLoader && !(isLoading$ | async); else loading">
    <ng-container
      *ngIf="
        cards?.length && !newAddressFormManuallyOpened;
        else newAddressForm
      "
    >
      <div class="checkout-address-select">
        <p>
          {{ 'checkoutAddress.selectYourShippingAddress' | cxTranslate }}
        </p>

        <div class="cards-flex">
          <div
            class="cards-flex-item"
            *ngFor="let card of cards; let i = index"
          >
            <div (click)="selectAddress(card.address)">
              <app-dvnt-card
                (sendCard)="selectAddress(card.address)"
                [content]="card.card"
                [fitToContainer]="true"
                color="secondary"
              ></app-dvnt-card>
            </div>
          </div>
        </div>

        <div class="add-new-address-action">
          <button class="btn btn-link" (click)="showNewAddressForm()">
            {{ 'checkoutAddress.addNewAddress' | cxTranslate }}
          </button>
        </div>
      </div>

      <div class="checkout-navigation-buttons">
        <button class="btn btn-link" (click)="back()">
          {{ 'checkout.backToCart' | cxTranslate }}
        </button>
        <button
          (click)="next()"
          [disabled]="
            (!selectedAddress || !selectedAddress.id) &&
            !(selectedAddress$ | async)?.shippingAddress
          "
          class="btn btn-primary"
        >
          {{ 'common.continue' | cxTranslate }}
        </button>
      </div>
    </ng-container>

    <ng-template #newAddressForm>
      <ng-container *ngIf="cards.length; else initialAddressForm">
        <app-dvnt-address-form
          (backToAddress)="hideNewAddressForm(false)"
          (submitAddress)="addAddress($event)"
          [showTitleCode]="true"
        ></app-dvnt-address-form>
      </ng-container>
      <ng-template #initialAddressForm>
        <app-dvnt-address-form
          (backToAddress)="hideNewAddressForm(true)"
          (submitAddress)="addAddress($event)"
          [addressData]="setAddress"
          [setAsDefaultField]="!isGuestCheckout"
          [showTitleCode]="true"
          cancelBtnLabel="{{ 'checkout.backToCart' | cxTranslate }}"
        ></app-dvnt-address-form>
      </ng-template>
    </ng-template>
  </ng-container>

  <ng-template #loading>
    <div class="cx-spinner">
      <cx-spinner></cx-spinner>
    </div>
  </ng-template>
</ng-container>
