<div class="bottom-navigation-container">
  <div (click)="navigateTo('', $event)" class="navigation-item">
    <app-dvnt-icon
      className="navigation-item-icon"
      fill="#A3A5AD"
      height="20"
      icon="home"
      width="20"
    ></app-dvnt-icon>
    <span class="navigation-item-label">
      {{ 'navigation.home' | cxTranslate }}
    </span>
  </div>
  <div (click)="setSearchAction($event)" class="navigation-item">
    <app-dvnt-icon
      className="navigation-item-icon"
      fill="#A3A5AD"
      height="20"
      icon="search-navigation"
      width="20"
    ></app-dvnt-icon>

    <span class="navigation-item-label">
      {{ 'navigation.search' | cxTranslate }}
    </span>
  </div>
  <div (click)="setProfileAction($event)" class="navigation-item">
    <app-dvnt-icon
      className="navigation-item-icon"
      fill="#A3A5AD"
      height="20"
      icon="account"
      width="20"
    ></app-dvnt-icon>

    <span class="navigation-item-label">
      {{ 'navigation.profile' | cxTranslate }}
    </span>
  </div>
  <div (click)="setCategoriesAction($event)" class="navigation-item">
    <app-dvnt-icon
      className="navigation-item-icon"
      fill="#A3A5AD"
      height="20"
      icon="categories"
      width="20"
    ></app-dvnt-icon>
    <span class="navigation-item-label">
      {{ 'navigation.categories' | cxTranslate }}
    </span>
  </div>
  <div (click)="setCartAction($event)" class="navigation-item cart-item">
    <div class="big-cart-icon">
      <button class="btn-icon btn-icon-primary">
        <app-dvnt-icon
          className="navigation-item-icon"
          fill="#A3A5AD"
          height="28"
          icon="add-to-cart"
          width="28"
        ></app-dvnt-icon>
      </button>
    </div>
    <span class="navigation-item-label">
      {{ 'navigation.cart' | cxTranslate }}
    </span>
  </div>
</div>
