<ng-container>
  <div class="modal-header">
    <app-dvnt-icon
      (click)="closeModal()"
      className="back-icon"
      height="30"
      icon="left"
      width="30"
    ></app-dvnt-icon>
    <span>
      {{ 'common.search' | cxTranslate }}
    </span>
  </div>

  <div class="modal-container">
    <div class="modal-scroll-container padding-both-sides">
      <div class="form-group">
        <label class="searchbox" [class.dirty]="!!searchInput.value">
          <input
            #searchInput
            (blur)="close($event)"
            (focus)="open()"
            (input)="search(searchInput.value)"
            (keydown.enter)="launchSearchResult($event, searchInput.value)"
            (keydown.escape)="close($event)"
            [placeholder]="'searchBox.placeholder' | cxTranslate"
            aria-label="search"
            class="form-control"
          />
        </label>
      </div>

      <div *ngIf="results$ | async as result" class="results">
        <div
          *ngIf="result.message"
          [innerHTML]="result.message"
          class="message"
        ></div>

        <div class="products" *ngIf="result.products">
          <div
            *ngFor="let product of result.products"
            (click)="navigateToProductPage(product)"
            [class.has-media]="config.displayProductImages"
            class="single-product"
          >
            <cx-media
              *ngIf="config.displayProductImages"
              [alt]="product.summary"
              [container]="product.images?.PRIMARY"
              class="product-image"
              format="thumbnail"
            ></cx-media>
            <h4 class="name" [innerHTML]="product.nameHtml"></h4>
            <span class="price">{{ product.price?.formattedValue }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
