@import 'variables';
@import 'mixins';

:root {
  --cx-color-light: #737680;
  --cx-color-dark: #1d1f22;
  --cx-color-primary: #5ece7b;
  --cx-color-secondary: #9ee2b0;
  --cx-text-color-primary: #ffffff;
  --cx-font-size: calculateRem(14px);
  --cx-button-hover-color: #f1f2f3;
}

body {
  font-family: $app-font-family;
}
