@import 'variables';
@import 'mixins';

:root {
  --cx-color-light: #000;
  --cx-color-dark: #1d1f22;
  --cx-color-primary: #5ece7b;
  --cx-color-secondary: #9ee2b0;
  --cx-font-size: calculateRem(14px);
}

body {
  font-family: $app-font-family;
}
