<div class="spartacus-container">
  <div class="section">
    <h1>Typography</h1>

    <h1>This is Header 1</h1>
    <h2>This is Header 2</h2>
    <h3>This is Header 3</h3>
    <h4>This is Header 4</h4>
    <h5>This is Header 5</h5>
    <h6>This is Header 6</h6>

    <br /><br />
    <p>
      This is paragraph/text: Find stunning women's cocktail dresses and party
      dresses. Stand out in lace and metallic cocktail dresses and party dresses
      from all your favorite brands.
    </p>
  </div>

  <div class="section">
    <h1>Buttons</h1>

    <p>Buttons</p>

    <div class="elements">
      <div class="element">
        <div class="element-name">Primary</div>
        <button class="btn btn-primary">Add to cart</button>
      </div>

      <div class="element">
        <div class="element-name">Secondary</div>
        <button class="btn btn-secondary">Add to cart</button>
      </div>

      <div class="element">
        <div class="element-name">Warning</div>
        <button class="btn btn-warning">Add to cart</button>
      </div>

      <div class="element">
        <div class="element-name">Danger</div>
        <button class="btn btn-danger">Add to cart</button>
      </div>

      <div class="element">
        <div class="element-name">Info</div>
        <button class="btn btn-info">Add to cart</button>
      </div>

      <div class="element">
        <div class="element-name">Clear</div>
        <button class="btn btn-clear">
          Add to cart
        </button>
      </div>

      <div class="element">
        <div class="element-name">Outline</div>
        <button class="btn btn-outline">Add to cart</button>
      </div>

      <div class="element">
        <div class="element-name">Disabled</div>
        <button class="btn btn-primary" disabled>Add to cart</button>
      </div>

      <div class="element">
        <div class="element-name">Link/Ghost</div>
        <button class="btn btn-link">Add to cart</button>
      </div>
    </div>

    <p>Block button</p>

    <div class="elements">
      <div class="element" style="width: 100%">
        <button class="btn btn-primary btn-block">Add to cart</button>
      </div>
    </div>

    <p>Icon buttons</p>

    <div class="elements">
      <div class="element">
        <div class="element-name">Primary with svg</div>
        <button class="btn-icon btn-icon-primary">
          <app-dvnt-icon icon="right" width="30" height="30"></app-dvnt-icon>
        </button>
      </div>

      <div class="element">
        <div class="element-name">Primary with svg as img</div>
        <button class="btn-icon btn-icon-primary">
          <img src="assets/icons/checked.svg" />
        </button>
      </div>

      <div class="element">
        <div class="element-name">Secondary</div>
        <button class="btn-icon btn-icon-secondary">
          <svg
            class="bi bi-chevron-right"
            width="32"
            height="32"
            viewBox="0 0 20 20"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z"
              clip-rule="evenodd"
            />
          </svg>
        </button>
      </div>
    </div>

    <p>Carousel arrow buttons</p>

    <div class="elements">
      <div class="element">
        <button class="arrow-button">
          <svg
            width="24"
            height="12"
            viewBox="0 0 24 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M24 7L2 7L2 5L24 5L24 7Z" fill="#1D1F22" />
            <path
              d="M6.61667 1.20934e-07L8 1.25423L2.76478 6L8 10.7458L6.61667 12L-5.24538e-07 5.99998L6.61667 1.20934e-07Z"
              fill="#1D1F22"
            />
          </svg>
        </button>
        <button class="arrow-button">
          <svg
            width="24"
            height="12"
            viewBox="0 0 24 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M0 5L22 5L22 7L-3.49691e-07 7L0 5Z" fill="#1D1F22" />
            <path
              d="M17.3833 12L16 10.7458L21.2352 6L16 1.25423L17.3833 2.41869e-07L24 6.00002L17.3833 12Z"
              fill="#1D1F22"
            />
          </svg>
        </button>
      </div>

      <div class="element">
        <button class="arrow-button arrow-button-long">
          <svg
            width="24"
            height="12"
            viewBox="0 0 24 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M24 7L2 7L2 5L24 5L24 7Z" fill="#1D1F22" />
            <path
              d="M6.61667 1.20934e-07L8 1.25423L2.76478 6L8 10.7458L6.61667 12L-5.24538e-07 5.99998L6.61667 1.20934e-07Z"
              fill="#1D1F22"
            />
          </svg>
        </button>
        <button class="arrow-button arrow-button-long">
          <svg
            width="24"
            height="12"
            viewBox="0 0 24 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M0 5L22 5L22 7L-3.49691e-07 7L0 5Z" fill="#1D1F22" />
            <path
              d="M17.3833 12L16 10.7458L21.2352 6L16 1.25423L17.3833 2.41869e-07L24 6.00002L17.3833 12Z"
              fill="#1D1F22"
            />
          </svg>
        </button>
      </div>

      <div class="element">
        <button class="arrow-button arrow-button-rounded">
          <svg
            width="24"
            height="12"
            viewBox="0 0 24 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M24 7L2 7L2 5L24 5L24 7Z" fill="#1D1F22" />
            <path
              d="M6.61667 1.20934e-07L8 1.25423L2.76478 6L8 10.7458L6.61667 12L-5.24538e-07 5.99998L6.61667 1.20934e-07Z"
              fill="#1D1F22"
            />
          </svg>
        </button>
      </div>

      <div class="element">
        <button class="arrow-button arrow-button-transparent">
          <svg
            width="24"
            height="12"
            viewBox="0 0 24 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M24 7L2 7L2 5L24 5L24 7Z" fill="#1D1F22" />
            <path
              d="M6.61667 1.20934e-07L8 1.25423L2.76478 6L8 10.7458L6.61667 12L-5.24538e-07 5.99998L6.61667 1.20934e-07Z"
              fill="#1D1F22"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div class="section">
    <h1>Svg icon component</h1>

    <div class="elements" style="display: flex">
      <div class="element">
        <div class="element-name">Default</div>
        <app-dvnt-icon icon="filters"></app-dvnt-icon>
      </div>
      <div class="element">
        <div class="element-name">Custom size</div>
        <app-dvnt-icon icon="filters" width="50" height="50"></app-dvnt-icon>
      </div>

      <div class="element">
        <div class="element-name">Custom color</div>
        <app-dvnt-icon
          color="red"
          height="20"
          icon="filters"
          width="20"
        ></app-dvnt-icon>
      </div>
      <div class="element">
        <div class="element-name">Custom class</div>
        <app-dvnt-icon
          className="myCustomClass"
          height="20"
          icon="filters"
          width="20"
        ></app-dvnt-icon>
      </div>
    </div>
  </div>

  <div class="section">
    <h1>Card component</h1>

    <div class="elements" style="display: flex">
      <div class="element">
        <app-dvnt-card
          [content]="exampleCardContent"
          color="primary"
        ></app-dvnt-card>
      </div>

      <div class="element">
        <app-dvnt-card
          [content]="exampleCardContent"
          color="secondary"
        ></app-dvnt-card>
      </div>
    </div>
  </div>

  <div class="section">
    <h1>Forms</h1>

    <div class="elements forms">
      <div class="element">
        <div class="element-name">Input</div>
        <div class="form-group">
          <label>
            <span class="label-content required">First name</span>
            <input class="form-control" placeholder="First Name" />
          </label>
        </div>
      </div>

      <div class="element">
        <div class="element-name">Input with error</div>
        <div class="form-group">
          <label>
            <span class="label-content required">First name</span>
            <input
              class="form-control ng-invalid ng-dirty is-invalid ng-touched"
              placeholder="First Name"
            />
            <div class="invalid-feedback">
              <span>Error message</span>
            </div>
          </label>
        </div>
      </div>

      <div class="element">
        <div class="element-name">Input with icon prepend</div>
        <input
          class="with-icon icon-prepend icon-search"
          placeholder="First Name"
        />
      </div>

      <div class="element">
        <div class="element-name">Input with icon append</div>
        <input
          class="with-icon icon-append icon-search"
          placeholder="First Name"
        />
      </div>

      <div class="element">
        <div class="element-name">
          Input with icon append (Bootstrap form group)
        </div>
        <div class="form-group">
          <label>
            <span class="label-content required">First name</span>
            <input
              class="form-control with-icon icon-prepend icon-search"
              placeholder="First Name"
            />
          </label>
        </div>
      </div>

      <div class="element">
        <div class="element-name">Checkbox</div>
        <div class="form-check">
          <label class="form-checkbox cx-facet-label">
            <input class="form-check-input" type="checkbox" />
            <span class="cx-facet-text">
              Free delivery
            </span>
          </label>
        </div>
      </div>

      <div class="element">
        <div class="element-name">Select (ng-select)</div>
        <ng-select
          class="custom"
          placeholder="Select"
          [items]="['Mr', 'Mrs']"
        ></ng-select>
      </div>

      <div class="element">
        <div class="element-name">Select (native)</div>
        <div class="form-group row">
          <div class="col-md-12">
            <label>
              <span class="label-content">Label text</span>
              <select class="form-control">
                <option selected>Select</option>
                <option value="ms">Ms.</option>
                <option value="mr">Mr.</option>
                <option value="miss">Miss</option>
                <option value="dr">Dr.</option>
                <option value="mrs">Mrs.</option>
              </select>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
