@import 'mixins';

:host {
  transition: box-shadow 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  padding: 20px;

  &:hover {
    box-shadow: 0 0 30px #ddd;
  }
}

.cx-product-search-list {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: var(--cx-color-light);
  margin: 0 0 25px 0;

  &:last-of-type {
    border-width: 0 0 0 0;
  }
}

.cx-product-image-container {
  display: block;
  text-align: center;
}

.cx-product-image {
  width: 100%;
  margin: 3rem 0;
}

.cx-product-rating {
  text-align: left;
  transform: scale(0.57);
  transform-origin: left;
}

.cx-product-name {
  text-align: left;
  display: block;
  margin: 0 0 3px 0;
  color: var(--ssf-dark-secondary);
  text-decoration: none;
  font-size: var(--ssf-font-size-desktop);

  &:hover {
    color: var(--cx-color-primary);
  }
}

.cx-product-price {
  text-align: left;
  font-size: calculateRem(18px);
  font-weight: 400;

  &.old {
    color: var(--cx-color-secondary);
    text-decoration: line-through;
  }

  &.new {
    margin: 0 0 0 5px;
    color: var(--cx-color-primary);
  }
}
