<div *ngIf="elements$ | async as elements">
  <div class="modal-header">
    <app-dvnt-icon
      (click)="closeModal()"
      height="30"
      icon="left"
      ngClass="back-icon"
      width="30"
    ></app-dvnt-icon>
    <span>
      {{ elements.children[0].title }}
    </span>
  </div>

  <div class="modal-container">
    <div class="modal-scroll-container">
      <div
        *ngFor="let element of elements.children[0].children"
        (click)="navigateTo(element.url)"
        class="element"
      >
        {{ element.title }}
      </div>
    </div>
  </div>
</div>
