@import 'variables';
@import 'media';

.footer-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: auto;
  max-width: 100vw;

  @include tablet-and-up {
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1140px;
  }

  .footer-column {
    margin: 0.5vw;
    width: 100%;

    @include tablet-and-up {
      margin: 1vw 3vw;
      width: auto;
    }

    .footer-column-title {
      font-family: $primary-font-family;
      font-size: 18px;
      font-weight: 500;
      line-height: 20px;
      padding: 18px 0;
      text-transform: uppercase;
    }

    .footer-menu-item {
      font-family: $primary-font-family;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      padding: 6px 0;
      a {
        color: var(--cx-color-dark);
        text-decoration: none;

        &:hover {
          color: var(--cx-color-primary) !important;
        }
      }
    }
  }

  li {
    list-style-type: none;
  }
}
