<form [formGroup]="colorForm" class="form-group variant-selector">
  <label>
    <span class="label-content">{{ 'variant.color' | cxTranslate }}</span>
    <ng-select
      (change)="changeColor($event, product?.name)"
      [items]="variants?.options"
      [clearable]="false"
      [virtualScroll]="true"
      dropdownPosition="auto"
      formControlName="color"
      placeholfer="Select color"
    >
      <ng-template ng-label-tmp ng-option-tmp let-item="item">
        <div class="option-content">
          <span
            [ngStyle]="{
              background: getVariantOptionValue(item.variantOptionQualifiers)
            }"
            class="color-dot"
          ></span>
          <span>{{ getVariantOptionValue(item.variantOptionQualifiers) }}</span>
        </div>
      </ng-template>
    </ng-select>
  </label>
</form>
