<ng-container *ngIf="searchResult$ | async as searchResult">
  <div class="modal-header">
    <app-dvnt-icon
      (click)="dismissFiltersModal()"
      className="back-icon"
      height="30"
      icon="left"
      width="30"
    ></app-dvnt-icon>
  </div>
  <button
    class="btn-icon btn-icon-primary close-side-modal"
    (click)="dismissFiltersModal()"
  >
    <app-dvnt-icon
      color="white"
      height="32"
      icon="close"
      width="32"
    ></app-dvnt-icon>
  </button>

  <div class="modal-container">
    <div class="modal-scroll-container">
      <div class="cx-search-facet">
        <div class="cx-facet-filter-container">
          <ng-container *ngIf="searchResult.breadcrumbs?.length">
            <h5>{{ 'productList.filterBy.label' | cxTranslate }}</h5>
            <div
              (click)="toggleValue(breadcrumb.removeQuery.query.value)"
              *ngFor="
                let breadcrumb of searchResult.breadcrumbs;
                trackBy: trackFacetBreadcrumb
              "
              @fadeIn
              [hidden]="breadcrumb.facetValueCode === activeFacetValueCode"
              class="ssf-badge"
              role="filter"
            >
              <span class="facet-filter-text">
                {{ breadcrumb.facetName }}: {{ breadcrumb.facetValueName }}
              </span>
              <app-dvnt-icon icon="close"></app-dvnt-icon>
            </div>
          </ng-container>
        </div>

        <ng-container *ngIf="visibleFacets$ | async as visibleFacets">
          <ng-container
            *ngFor="let facet of visibleFacets; let facetId = index"
          >
            <div class="cx-facet-group">
              <div class="cx-facet-header">
                <a
                  class="cx-facet-header-link"
                  (click)="toggleFacet(facet.name)"
                  [attr.aria-expanded]="!isFacetCollapsed(facet.name)"
                  aria-controls=""
                >
                  {{ facet.name }}
                  <cx-icon
                    [type]="
                      isFacetCollapsed(facet.name)
                        ? iconTypes.EXPAND
                        : iconTypes.COLLAPSE
                    "
                  ></cx-icon>
                </a>
              </div>
              <ng-container *ngIf="!isFacetCollapsed(facet.name)">
                <ul class="cx-facet-list">
                  <li
                    *ngFor="
                      let value of getVisibleFacetValues(facet);
                      index as facetValueId
                    "
                  >
                    <div class="form-check">
                      <label class="form-checkbox form-check-label">
                        <input
                          class="form-check-input cx-facet-checkbox"
                          role="checkbox"
                          type="checkbox"
                          aria-checked="true"
                          [checked]="value.selected"
                          (change)="toggleValue(value.query.query.value)"
                        />
                        <span class="form-check-text"
                          >{{ value.name }}
                          <span class="count">{{ value.count }}</span></span
                        >
                      </label>
                    </div>
                  </li>
                  <li
                    class="cx-facet-toggle-btn"
                    (click)="showLess(facet.name)"
                    *ngIf="showAllPerFacetMap.get(facet.name)"
                  >
                    {{ 'productList.showLess' | cxTranslate }}
                  </li>
                  <li
                    class="cx-facet-toggle-btn"
                    (click)="showMore(facet.name)"
                    *ngIf="
                      !showAllPerFacetMap.get(facet.name) &&
                      facet.values.length > minPerFacet
                    "
                  >
                    {{ 'productList.showMore' | cxTranslate }}
                  </li>
                </ul>
              </ng-container>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>
