@import 'media';
@import 'mixins';

:host {
  background: #fff;
  height: 100%;
}

.filter-modal-header {
  background-color: var(--ssf-light-primary-darken);
  height: 50px;
  display: flex;

  @include tablet-and-up {
    display: none;
  }
}

.filters-container {
  height: 100%;
  overflow: hidden;

  .filters-scroll-container {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 40px;
    height: 100%;
    width: calc(100% + 50px);

    .cx-search-facet {
      padding: 40px 50px 40px 20px;
    }
  }
}

.close-filters {
  position: absolute;
  right: -26px;
  top: 60px;
  display: none;

  @include tablet-and-up {
    display: block;
  }
}

.cx-facet-checkbox {
  position: relative;
  margin: 0 10px 0 0;
  min-width: 22px;
  transition: 0.3s;

  &:checked + .cx-facet-text {
    color: var(--cx-color-primary);
    font-weight: 500;
  }
}

.cx-facet-list {
  padding: 0;
  list-style: none;
  margin: 0 0 32px 0;

  .form-check {
    padding: 0;
    margin: 8px 0;
  }

  .cx-facet-label {
    color: var(--cx-color-secondary);
    //@include type(6);
    font-weight: var(--cx-font-weight-normal);
    position: relative;
    margin: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    cursor: pointer;

    &:hover .cx-facet-checkbox:not(:checked) {
      background-color: var(--cx-color-light);
    }

    .cx-facet-text {
      line-height: 22px;
      color: var(--ssf-dark-primary);
      display: block;
      width: 100%;

      .count {
        float: right;
      }
    }
  }

  .cx-facet-toggle-btn {
    cursor: pointer;
  }
}

.cx-facet-header {
  color: var(--cx-color-text);
  margin: 0 0 17px 0;
  display: block;
  font-weight: 400;
  font-size: calculateRem(24px);

  cx-icon {
    display: none;
  }

  &-link {
    padding: 5px;
    display: block;
    cursor: pointer;
    transition: 0.3s;
  }
}

.cx-facet-filter-container {
  margin: 0 0 40px 0;
}

.cx-facet-filter-header {
  color: var(--cx-color-text);
  padding: 0 0 10px 0;
  margin: 0 0 20px 0;
}

.cx-facet-filter-pill {
  background: var(--cx-color-light);
  padding: 7px 15px 7px 13px;
  margin: 10px 10px 5px 0;
  display: inline-flex;
  align-items: flex-start;
  border-radius: 4px;

  cx-icon:before {
    font-size: 16px;
  }

  .cx-facet-pill-value {
    line-height: 1.7;
  }

  span {
    flex: 1 1 auto;
    font-size: 14px;
    vertical-align: middle;
  }

  button {
    margin: 0 0 0 10px;
    line-height: 0.9;

    span {
      vertical-align: middle;
    }
  }
}

.cx-facet-pill-value {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 203px;
}
