<ng-container *ngIf="user$ | async as user; else login">
  <a
    (click)="blockPropagation($event)"
    [routerLink]="{ cxRoute: 'login' } | cxUrl"
    class="header-navigation-icon"
    role="link"
  >
    <app-dvnt-icon
      className="account-icon"
      height="21"
      icon="account"
      width="21"
    ></app-dvnt-icon>
  </a>
  <cx-page-slot class="header-links" position="HeaderLinks"></cx-page-slot>
</ng-container>

<ng-template #login>
  <a
    (click)="blockPropagation($event)"
    [routerLink]="{ cxRoute: 'login' } | cxUrl"
    class="header-navigation-icon"
    role="link"
  >
    <app-dvnt-icon
      className="account-icon"
      height="21"
      icon="account"
      width="21"
    ></app-dvnt-icon>
  </a>
</ng-template>
