<div class="pnf-container">
  <app-dvnt-icon
    className="pnf-image"
    height="117"
    icon="error"
    width="124"
  ></app-dvnt-icon>

  <h2 class="pnf-title">
    {{ 'pageNotFound.title' | cxTranslate }}
  </h2>

  <p class="pnf-subtitle">
    {{ 'pageNotFound.slogan' | cxTranslate }}
  </p>

  <div class="pnf-actions-container">
    <button (click)="navigateToHomePage()" class="btn btn-primary">
      {{ 'pageNotFound.returnToHome' | cxTranslate }}
    </button>

    <button (click)="navigateToPreviousPage()" class="btn btn-link">
      {{ 'pageNotFound.back' | cxTranslate }}
    </button>
  </div>
</div>
