<div class="form-check consent-form">
  <label class="form-checkbox form-check-label">
    <input
      (change)="onConsentChange()"
      [checked]="consentGiven"
      [disabled]="isRequired(consentTemplate?.id)"
      class="form-check-input "
      type="checkbox"
    />
    <span *ngIf="isLevel13" class="form-check-text consent-main-text">
      {{ consentTemplate?.name }}
    </span>
  </label>

  <br *ngIf="isLevel13" />

  <span class="form-check-text">
    {{ consentTemplate?.description }}
  </span>
</div>
