@import 'media';
@import 'mixins';

.wish-row {
  align-items: flex-start;
  border-bottom: 1px var(--ssf-light-primary) solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 15px 0px;
  width: 100%;

  .image-column {
    align-self: center;
    display: flex;
    flex: 1 0 100%;
    justify-content: center;

    @include laptop-and-up {
      flex: 1;
    }
  }

  .name-column {
    align-self: center;
    display: flex;
    flex: 1 0 50%;
    justify-content: center;

    @include laptop-and-up {
      flex: 2;
      justify-content: flex-start;
    }

    .product-name {
      color: var(--ssf-dark-primary);
      display: block;
      font-size: calculateRem(18px);
      font-weight: 500;
      margin: 0 0 3px 0;
      text-align: left;
      text-decoration: none;

      &:hover {
        color: var(--cx-color-primary);
      }
    }
  }

  .price-column {
    align-self: center;
    display: flex;
    flex: 1 0 50%;
    justify-content: center;

    @include laptop-and-up {
      flex: 1;
      justify-content: flex-start;
    }

    .product-price {
      font-size: calculateRem(18px);
      font-weight: 500;
      margin: 5px 0 0 0;
      text-align: left;
    }
  }

  .action-column {
    align-self: center;
    display: flex;
    flex: 1 0 100%;
    margin-top: 20px;

    @include laptop-and-up {
      flex-direction: column;
      flex: 1;
      margin-top: 0px;
    }
  }
}
