<div class="spartacus-container">
  <div class="section">
    <h1>Typography</h1>

    <h1>This is Header 1</h1>
    <h2>This is Header 2</h2>
    <h3>This is Header 3</h3>
    <h4>This is Header 4</h4>
    <h5>This is Header 5</h5>
    <h6>This is Header 6</h6>

    <br /><br />
    <p>
      This is paragraph/text: Find stunning women's cocktail dresses and party
      dresses. Stand out in lace and metallic cocktail dresses and party dresses
      from all your favorite brands.
    </p>
  </div>

  <div class="section">
    <h1>Buttons</h1>

    <p>Block buttons</p>

    <label>
      Primary <br />
      <button class="btn btn-clock btn-primary">Add to cart</button>
    </label>

    <label>
      Secondary <br />
      <button class="btn btn-block btn-secondary">Add to cart</button>
    </label>

    <label>
      Cancel/Disabled <br />
      <button class="btn btn-block btn-secondary" disabled>Add to cart</button>
    </label>

    <p>Icon buttons</p>

    <label>
      Primary with svg <br />
      <button class="btn-icon btn-icon-primary">
        <svg
          class="bi bi-chevron-right"
          width="32"
          height="32"
          viewBox="0 0 20 20"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
    </label>

    <label>
      Primary with svg as img <br />
      <button class="btn-icon btn-icon-primary">
        <img src="/assets/icons/cart.svg" />
      </button>
    </label>

    <label>
      Secondary <br />
      <button class="btn-icon btn-icon-secondary">
        <svg
          class="bi bi-chevron-right"
          width="32"
          height="32"
          viewBox="0 0 20 20"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
    </label>
  </div>
</div>
