<div class="spartacus-container">

  <div class="section">
    <h1> Typography</h1>

    <h1>This is Header 1</h1>
    <h2>This is Header 2</h2>
    <h3>This is Header 3</h3>
    <h4>This is Header 4</h4>
    <h5>This is Header 5</h5>
    <h6>This is Header 6</h6>

    <br><br>
    <p>This is paragraph/text: Find stunning women's cocktail dresses and party dresses. Stand out in lace and metallic
      cocktail dresses and party dresses from all your favorite brands.
    </p>
  </div>

  <div class="section">
    <h1>Buttons</h1>

    <button class="btn btn-primary"> Add to cart</button>
  </div>

</div>


