$skipComponentStyles: (cx-searchbox);
$skipComponentStyles: (cx-item-counter);
$skipComponentStyles: (cx-add-to-wishlist);
$skipComponentStyles: (cx-global-message);

@import '~@spartacus/styles/index';

@import 'styles/index.scss';
