@import 'mixins';
@import 'media';

.checkout-order-summary {
  padding: 0.5rem;

  @include laptop-and-up {
    padding-left: calculateRem(50px);
  }

  .highlight {
    padding: 3rem;

    &:not(:first-child) {
      margin-top: 1rem;
    }

    &.coupons {
      margin-top: 1px;
    }

    .checkout-order-summary-header {
      margin-bottom: calculateRem(40px);
    }

    .total-items-label {
      display: flex;
      font-weight: 700;
      justify-content: space-between;
    }

    .total-label {
      margin-top: calculateRem(40px);
    }

    .summary-label {
      margin-bottom: 0.5rem;

      .summary-amount {
        float: right;
        font-weight: 500;
      }
    }
  }

  .applied-discounts-container {
    margin-top: 0.75rem;
  }
}

.toggleable {
  display: none;

  &.opened {
    display: block;
  }
}

.toggle-link {
  color: var(--ssf-color-primary);
  cursor: pointer;
  font-size: calculateRem(14px);
  font-weight: 300;
  text-decoration: underline;
}

.coupons {
  .toggle-link {
    text-decoration: none;
  }
}
