@import 'mixins';
@import 'media';

.cx-page {
  border-left: solid 1px var(--ssf-light-primary);
}

.cx-page-section {
  padding-top: 0;

  .cx-sorting {
    &.top {
      padding: calculateRem(20px) 0;

      @include tablet-and-up {
        padding-left: calculateRem(40px);
      }

      .btn-filters {
        align-items: center;
        box-shadow: none !important;
        display: flex;
        flex-direction: column;
        flex: 0 1 100px;
        padding: 0px 4px;
        text-transform: none;

        @include tablet-and-up {
          flex-direction: row;
        }

        app-dvnt-icon {
          margin-top: 7px;
          order: 2;

          @include tablet-and-up {
            margin-right: calculateRem(12px);
            margin-top: 0px;
            order: 1;
          }

          * {
            fill: red !important;
          }
        }

        .label {
          font-family: var(--ssf-secondary-font-family);
          font-size: calculateRem(12px);
          font-weight: 300;
          order: 1;

          @include tablet-and-up {
            font-size: calculateRem(14px);
            order: 2;
          }
        }

        @include tablet-and-up {
          padding: 0px 5px;
          font-size: calculateRem(14px);
        }
      }

      .view-modes-label,
      .items-found-label,
      .items-found-total,
      .sort-by-label {
        color: var(--ssf-gray-primary) !important;
        font-family: var(--ssf-secondary-font-family);
        font-size: calculateRem(12px);
        font-weight: 300;

        @include tablet-and-up {
          font-size: var(--ssf-font-size-mobile);
        }

        .sort-by-label {
          margin-left: auto;
          margin-right: 0;
        }
      }

      .desktop-divider {
        display: none;
        flex: 1;

        @include tablet-and-up {
          display: flex;
        }
      }

      .items-found {
        display: none;
        flex: 0 1 auto;

        @include tablet-and-up {
          display: flex;
        }
      }

      .view-modes-label {
        color: var(--ssf-dark-primary) !important;
      }

      .items-found-total {
        color: var(--ssf-dark-primary) !important;
        display: none;
        font-weight: bold;
        margin-left: 4px;

        @include tablet-and-up {
          display: inline;
        }
      }

      .view-modes-label {
        display: block;
        width: 100%;
        text-align: center;

        @include tablet-and-up {
          display: inline;
          margin-left: 20px;
          width: auto;
        }
      }

      .view-modes {
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        flex: 0 1 auto;
        justify-content: center;
        padding: 0px 4px;

        @include tablet-and-up {
          align-items: center;
        }
      }

      .btn-view-mode {
        border: none;
        outline: none;
        background: transparent;
        padding: 0;

        svg {
          width: 32px;
          height: 32px;

          * {
            fill: var(--ssf-dark-primary);
          }
        }

        &:disabled {
          background-color: transparent !important;

          svg {
            * {
              fill: var(--ssf-gray-primary);
            }
          }
        }
      }

      .cx-sort-dropdown {
        span {
          min-width: calculateRem(48px);
          text-align: center;

          @include tablet-and-up {
            margin-right: calculateRem(8px);
          }
        }
      }
    }
  }

  .cx-product-container {
    padding: 20px;
  }
}
