<div class="cx-page" *ngIf="model$ | async as model">
  <section class="cx-page-section">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-12" *ngIf="viewMode$ | async as viewMode">
          <div class="cx-sorting top">
            <button
              class="btn btn-filters"
              (click)="showProductFacetNavigationModal()"
            >
              <app-dvnt-icon
                icon="filters"
                width="15"
                height="15"
              ></app-dvnt-icon>
              <span class="label">
                {{ 'productList.filters' | cxTranslate }}
              </span>
            </button>
            <div class="form-group cx-sort-dropdown">
              <span class="font-roboto sort-by-label">
                {{ 'productList.sortBy' | cxTranslate }}:
              </span>
              <cx-sorting
                [sortOptions]="model.sorts"
                (sortListEvent)="sortList($event)"
                [selectedOption]="model.pagination.sort"
                placeholder="{{ 'productList.sortByRelevance' | cxTranslate }}"
              ></cx-sorting>
            </div>
            <div class="items-found">
              <span class="items-found-label">
                {{ 'productList.productsFound' | cxTranslate }}:
              </span>
              <span class="items-found-total">
                {{ (model$ | async).pagination.totalResults }}
              </span>
            </div>
            <span class="view-modes">
              <span class="view-modes-label font-roboto">
                {{ 'productList.view' | cxTranslate }}
              </span>
              <button
                class="btn-view-mode"
                [disabled]="viewMode === viewModes.List"
                (click)="setViewMode(viewModes.List)"
              >
                <app-dvnt-icon
                  icon="list"
                  width="32"
                  height="32"
                ></app-dvnt-icon>
              </button>
              <button
                class="btn-view-mode"
                [disabled]="viewMode === viewModes.Grid"
                (click)="setViewMode(viewModes.Grid)"
              >
                <app-dvnt-icon
                  icon="grid"
                  width="32"
                  height="32"
                ></app-dvnt-icon>
              </button>
            </span>
          </div>
          <div class="cx-product-container">
            <!-- Product list when using pagination -->
            <ng-container *ngIf="!isInfiniteScroll; else infiniteScroll">
              <ng-container *ngIf="viewMode === ViewModes.Grid">
                <div class="row">
                  <app-dvnt-product-grid-item
                    *ngFor="let product of model?.products"
                    [product]="product"
                    class="col-6 col-sm-6 col-md-3"
                  ></app-dvnt-product-grid-item>
                </div>
              </ng-container>

              <ng-container *ngIf="viewMode === ViewModes.List">
                <app-dvnt-product-list-item
                  *ngFor="let product of model?.products"
                  [product]="product"
                  class="col-6 col-sm-6 col-md-3"
                ></app-dvnt-product-list-item>
              </ng-container>
            </ng-container>

            <!-- Product list when using infinite scroll -->
            <ng-template #infiniteScroll>
              <cx-product-scroll
                [scrollConfig]="scrollConfig"
                [model]="model"
                [inputViewMode]="viewMode"
              ></cx-product-scroll>
            </ng-template>
          </div>
          <div class="cx-sorting bottom">
            <div class="row">
              <div
                *ngIf="!isInfiniteScroll"
                class="col-12"
                aria-label="product search pagination"
              >
                <div class="cx-pagination">
                  <app-dvnt-pagination
                    [pagination]="model.pagination"
                    (viewPageEvent)="viewPage($event)"
                  ></app-dvnt-pagination>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
