<form
  (submit)="requestForgotPasswordEmail()"
  [formGroup]="form"
  class="forgot-password-form"
>
  <h5 class="forgot-password-header">
    Enter your email to receive instructions on how to reset your password.
  </h5>

  <div class="form-group">
    <label>
      <span class="label-content required">{{
        'forgottenPassword.emailAddress.label' | cxTranslate
      }}</span>
      <input
        [ngClass]="{
          'is-invalid':
            form.controls['userEmail'].invalid &&
            (submited ||
              (form.controls['userEmail'].touched &&
                form.controls['userEmail'].dirty))
        }"
        class="form-control"
        formControlName="userEmail"
        placeholder="{{
          'forgottenPassword.emailAddress.placeholder' | cxTranslate
        }}"
        type="email"
      />
      <div
        class="invalid-feedback"
        *ngIf="
          form.controls['userEmail'].invalid &&
          (submited ||
            (form.controls['userEmail'].touched &&
              form.controls['userEmail'].dirty))
        "
      >
        <span>{{ 'forgottenPassword.enterValidEmail' | cxTranslate }}</span>
      </div>
    </label>
  </div>

  <button
    [disabled]="form.invalid"
    class="btn btn-primary btn-block"
    type="submit"
  >
    {{ 'common.submit' | cxTranslate }}
  </button>

  <a [routerLink]="{ cxRoute: 'login' } | cxUrl" class="btn btn-link">
    or login in to your account
  </a>
</form>
