.forgot-password-form {
  margin: 0 auto;
  max-width: 500px;

  .forgot-password-header {
    margin: 14px 0px 40px;
  }

  .btn-link {
    color: var(--ssf-green-primary);
    display: block;
  }
}
