@import '../variables';
@import '../base/media';
@import '../mixins';

.btn,
.ssf-button {
  max-height: var(--ssf-button-mobile-height);
  border-radius: 0;
  border: none;
  height: var(--ssf-button-mobile-height);
  padding: 16px 40px;
  text-transform: uppercase;
  font-size: var(--ssf-button-mobile-font-size);
  vertical-align: middle;

  &:hover:not(.btn-link),
  &:active:not(.btn-link) {
    color: var(--cx-text-color-primary);
    filter: none !important;
  }

  &-primary,
  &-secondary,
  &-warning,
  &-danger,
  &-info,
  &:disabled,
  &-clear,
  &-outline {
    transition: background-color var(--ssf-button-hover-transition-time) linear;

    @include laptop-and-up {
      font-size: var(--ssf-button-font-size);
    }

    &:focus,
    &:active {
      box-shadow: none !important;
    }
  }

  &-primary {
    background-color: var(--cx-color-primary) !important;

    &:hover,
    &:active {
      background-color: var(--cx-color-secondary) !important;
    }
  }

  &-secondary {
    background-color: var(--cx-color-dark) !important;

    &:hover,
    &:active {
      background-color: var(--cx-color-light) !important;
    }
  }

  &-warning {
    background-color: var(--ssf-yellow-primary) !important;
    color: var(--ssf-white) !important;

    &:hover,
    &:active {
      background-color: var(--ssf-yellow-primary-lighten) !important;
    }
  }

  &-danger {
    background-color: var(--ssf-red-primary) !important;
    color: var(--ssf-white);

    &:hover,
    &:active {
      background-color: var(--ssf-red-primary-lighten) !important;
    }
  }

  &-info {
    background-color: var(--ssf-button-info-color) !important;
    color: var(--ssf-white);

    &:hover,
    &:active {
      background-color: var(--ssf-button-info-color-lighten) !important;
    }
  }

  &:disabled,
  &-clear {
    color: #686d7d !important;
    background-color: #f1f2f3 !important;
  }

  &-outline {
    border: solid 1px var(--ssf-dark-primary);

    &:hover {
      color: var(--ssf-white);
      background-color: var(--ssf-dark-primary);
    }
  }

  &-link {
    color: var(--ssf-dark-primary);
    font-size: var(--ssf-button-mobile-font-size);
    text-transform: none;

    @include laptop-and-up {
      font-size: var(--ssf-button-font-size);
    }

    &:hover {
      color: var(--ssf-dark-primary-lighten);
    }
  }
}

.btn-icon {
  width: var(--ssf-button-base-width);
  height: var(--ssf-button-base-width);
  border-radius: calc(var(--ssf-button-base-height) / 2);
  border: none;
  color: var(--cx-text-color-primary);
  transition: box-shadow var(--ssf-button-hover-transition-time) linear;

  &-primary {
    background-color: var(--cx-color-primary);

    &:hover {
      background-color: var(--ssf-green-secondary) !important;
      box-shadow: 0 0 0 5px rgba(var(--ssf-green-primary-base), 0.4);
    }

    &:active {
      box-shadow: 0 0 0 10px rgba(var(--ssf-green-primary-base), 0.4);
    }
  }

  &-secondary {
    background-color: var(--cx-color-dark);

    &:hover {
      background-color: var(--ssf-dark-primary-lighten) !important;
      box-shadow: 0 0 0 5px rgba(var(--ssf-dark-primary-base), 0.4);
    }

    &:active {
      box-shadow: 0 0 0 10px rgba(var(--ssf-dark-primary-base), 0.4);
    }
  }
}
