@import 'mixins';
@import 'variables';
@import 'media';

%base-input {
  background-color: transparent;
  border-color: #f1f2f3;
  border-radius: 0;
  border-width: 0 0 1px 0;
  box-sizing: border-box;
  display: block;
  font-size: calculateRem(16px);
  outline: none;
  padding: 15px 0 10px 0;

  @include laptop-and-up {
    font-size: calculateRem(18px);
    height: calculateRem(48px);
  }
}

%input-specific {
  &[type='text']:focus,
  &[type='password']:focus {
    background-color: transparent !important;
    border-color: var(--cx-color-primary);
    box-shadow: none;

    &.is-invalid {
      background-image: none;
      border-color: var(--ssf-alert-color);
    }
  }

  &.is-invalid {
    background-image: none;
    border-color: var(--ssf-alert-color);
  }
}

.ssf-radio-input {
  input {
    position: absolute;
    visibility: hidden;

    &:checked {
      & + .ssf-radio-label {
        background-color: var(--ssf-light-primary);

        &:before {
          border: solid 9px var(--ssf-color-primary);
        }
      }
    }
  }

  .ssf-radio-label {
    cursor: pointer;
    font-family: var(--ssf-secondary-font-family);
    font-size: calculateRem(18px);
    font-weight: 500;
    padding: 20px;
    padding-left: calculateRem(60px);
    position: relative;

    &:before {
      border: solid 1px var(--ssf-gray-primary);
      border-radius: 100%;
      content: ' ';
      height: 23px;
      left: 20px;
      position: absolute;
      top: 22px;
      transition: border 0.3s ease-out;
      width: 23px;
    }
  }
}

input:not([type='checkbox']) {
  @extend %base-input;

  &.with-icon {
    background-size: calculateRem(20px);

    &.icon-prepend {
      background-position: calculateRem(20px);
      padding-left: calculateRem(60px);
    }

    &.icon-append {
      background-position: right calculateRem(20px) center;
      padding-right: calculateRem(60px);
    }
  }
}

.form-group {
  .label-content {
    font-size: calculateRem(10px);
    font-weight: 400;

    @include laptop-and-up {
      font-size: calculateRem(12px);
    }
  }

  input {
    &.form-control {
      @extend %base-input;
      @extend %input-specific;

      @include laptop-and-up {
        font-size: calculateRem(18px);
      }
    }
  }

  .invalid-feedback {
    font-size: calculateRem(12px);

    &:before {
      display: none;
    }
  }
}

.form-check {
  .form-checkbox {
    display: flex;
    margin-bottom: 0;

    .form-check-input {
      border: none;
      height: 1.25rem;
      margin-right: 20px;
      position: relative;
      visibility: hidden;
      width: 1.25rem;

      @include laptop-and-up {
        height: 1.5rem;
        width: 1.5rem;
      }

      &:checked {
        border-radius: 0;
        border-width: 0;
      }

      &:focus {
        box-shadow: none;
      }

      & + span:after,
      &:checked + span:after {
        background: transparent no-repeat center;
        background-size: calculateRem(11px);
        border: 1px solid #bebfc4;
        content: ' ';
        height: 1.25rem;
        left: 0;
        position: absolute;
        top: 0;
        transform: none;
        transition: all $button-transition-time cubic-bezier(1, 0.5, 0.8, 1);
        visibility: visible;
        width: 1.25rem;

        @include laptop-and-up {
          height: 1.5rem;
          width: 1.5rem;
        }
      }

      &:checked + span:after {
        background-color: var(--cx-color-primary);
        background-image: url($iconsPath+'checked.svg');
        border: 1px solid transparent;
      }
    }
  }
}

select {
  &.form-control {
    appearance: none;
    border: none;
    border-bottom: solid 1px var(--ssf-light-primary);
    border-radius: 0;
    padding-left: 0;

    &:focus {
      background-color: transparent;
    }
  }
}

.ng-select {
  background-color: transparent;

  .ng-select-container {
    background-color: transparent;
    border: none;
    border-bottom: solid 1px var(--ssf-light-primary) !important;
    border-radius: 0;
    box-shadow: none !important;
  }

  &.ng-select-opened {
    .ng-select-container {
      background-color: transparent;
    }
  }

  .ng-option {
    background: transparent;

    &.ng-option-selected {
      background-color: var(--ssf-light-primary) !important;

      .ng-option-label {
        font-weight: normal !important;
      }
    }

    &.ng-option-marked {
      background-color: var(--ssf-light-secondary) !important;
    }
  }

  .ng-value-container {
    padding-left: 0 !important;
  }

  .ng-arrow-wrapper {
    display: none;
  }
}

input {
  @extend %input-specific;
}
