@import 'variables';
@import 'media';
@import 'mixins';

body {
  font-family: var(--ssf-primary-font-family);
  font-size: var(--ssf-font-size-mobile);
  margin-bottom: 60px;

  @include laptop-and-up {
    font-size: var(--ssf-font-size-desktop);
    margin-bottom: 0;
  }
}

* {
  box-sizing: border-box;
  outline: none;
  font-family: var(--ssf-primary-font-family);
}

// MODAL
.modal-full-screen {
  padding-bottom: 60px;
  width: 100%;

  @include laptop-and-up {
    margin-bottom: 0;
  }

  .modal-dialog {
    height: 100%;
    margin: 0;
    min-height: 100%;
    min-width: 100%;
    width: 100%;

    .modal-content {
      height: calc(100vh - 60px);
      margin-bottom: 60px;
      width: 100%;

      .header {
        align-items: center;
        background-color: var(--cx-modal-header-color);
        display: flex;
        font-weight: 500;
        height: 50px;
        justify-content: center;
        position: relative;
        width: 100%;

        .back-icon {
          left: 10px;
          position: absolute;
        }
      }

      .content {
        height: calc(100vh - 120px);
        overflow: scroll;
        padding: 0 20px;
      }
    }
  }
}

.modal-full-screen-with-column {
  @extend .modal-full-screen;
  width: calc(100% - 60px);

  .modal-dialog {
    min-height: calc(100% - 60px);
    min-width: calc(100% - 60px);
    width: calc(100% - 60px);
  }
}

.topBanner {
  height: 40px;
  display: flex;
}

header {
  background-color: var(--cx-text-color-primary) !important;
  bottom: 0;
  color: var(--cx-color-dark) !important;
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 1000;

  @include laptop-and-up {
    height: auto;
    position: initial;
  }

  .header {
    height: 100%;
  }
}

.header-navigation-icon {
  border-radius: 100%;
  height: 40px;
  margin: 0 1px;
  padding: 8px;
  width: 40px;

  &:hover {
    background-color: var(--cx-button-hover-color);
  }
}

.footer {
  background-color: var(--cx-text-color-primary) !important;
  color: var(--cx-color-dark) !important;
  margin: auto;
  max-width: 1140px;
}
