* {
  box-sizing: border-box;
  outline: none;
  font-family: 'Raleway';
}

.topBanner {
  height: 40px;
  display: flex;
}

header {
  background-color: var(--cx-text-color-primary) !important;
  color: var(--cx-color-dark) !important;
}

.header-navigation-icon {
  border-radius: 100%;
  height: 40px;
  margin: 0 1px;
  padding: 8px;
  width: 40px;

  &:hover {
    background-color: var(--cx-button-hover-color);
  }
}

.footer {
  background-color: var(--cx-text-color-primary) !important;
  color: var(--cx-color-dark) !important;
  margin: auto;
  max-width: 1140px;

  a {
    &:hover {
      color: var(--cx-color-primary) !important;
    }
  }
}
