@import 'variables';
@import 'media';
@import 'mixins';

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ssf-primary-font-family);
  font-size: var(--ssf-font-size-mobile);
  margin-bottom: 60px;

  @include laptop-and-up {
    font-size: var(--ssf-font-size-desktop);
    margin-bottom: 0;
  }
}

* {
  box-sizing: border-box;
  font-family: var(--ssf-primary-font-family);
  outline: none;
}

.topBanner {
  display: flex;
  height: 40px;
}

header {
  background-color: var(--cx-text-color-primary) !important;
  bottom: 0;
  color: var(--cx-color-dark) !important;
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 1000;

  @include laptop-and-up {
    height: auto;
    position: initial;
  }

  .header {
    height: 100%;
  }
}

.header-navigation-icon {
  border-radius: 100%;
  height: 40px;
  margin: 0 1px;
  padding: 8px;
  width: 40px;

  &:hover {
    background-color: var(--cx-button-hover-color);
  }
}

footer {
  background-color: var(--cx-text-color-primary) !important;
  color: var(--cx-color-dark) !important;
  margin: 20px auto 0px;
  max-width: 1140px;

  @include laptop-and-up {
    margin: 25px auto 0px;
  }
}

.ProductDetailsPageTemplate,
.DvntBestsellingProducts,
.DvntNewProducts {
  margin: 0 auto 30px;
  max-width: 1140px;
  padding: 0 20px;

  @include laptop-and-up {
    height: auto;
    padding: 0;
    position: initial;
  }
}

// Product details tabs
cx-product-details-tab {
  .container {
    padding: 0px !important;
  }
}

// Product details tabs
.tabs-container {
  cx-product-details-tab,
  cx-product-attributes,
  cx-product-reviews,
  cx-paragraph {
    .container {
      max-width: none;
    }
  }
}

// Swiper - carousel
.swiper-pagination-bullet {
  background-color: #bebfc4 !important;
  border: none !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: $color-primary !important;
}

.swiper-pagination {
  bottom: -10px !important;

  @include laptop-and-up {
    bottom: 10px !important;
  }
}

// Cart item
.cart-item-image {
  .cx-counter-action {
    display: none;
  }

  .cx-counter-value {
    background: white;
    border: 1px solid #f1f2f3 !important;
    font-size: 18px;
    height: 27px;
    padding: 0;
    width: 50px !important;
  }
}

// Checkout common
.checkout-step-header {
  padding-top: calculateRem(40px);

  @include tablet-and-up {
    padding-top: calculateRem(80px);
  }
}

.checkout-navigation-buttons {
  display: flex;

  button {
    flex: 1;
  }
}
