.hide {
  display: none !important;
}

.padding-left-20 {
  padding-left: 20px;
}

.text-bold {
  font-weight: 500;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.color-gray {
  color: var(--ssf-gray-primary);
}
