/*
This file contains styles for small reusable elements, that are not components, to avoid creating separate files for each.
 */
@import 'mixins';
@import 'media';

.ssf-badge {
  background-color: var(--ssf-badge-color, transparent);
  color: var(--ssf-badge-text-color, var(--ssf-dark-primary));
  display: inline-block;
  font-size: calculateRem(12px);
  font-weight: 500;
  padding: calculateRem(4px) calculateRem(8px);

  &.primary {
    background-color: var(--ssf-color-primary);
    color: var(--ssf-white);
  }

  &.gray {
    background-color: var(--ssf-gray-primary);
    color: var(--ssf-white);
  }

  @include tablet-and-up {
    font-size: calculateRem(14px);
  }
}

.highlight {
  background-color: var(--ssf-light-primary);
  padding: 2rem;
}

.cards-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .cards-flex-item {
    cursor: pointer;
    flex: 1;
    width: auto;

    @include tablet-and-up {
      max-width: 48%;
    }
  }

  @include tablet-and-up {
    flex-direction: row;
    .card-flex-item {
      width: 100%;
    }
  }
}
