// Side modal
.side-modal {
  z-index: 2100;

  .modal-content {
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);

    .modal-header {
      align-items: center;
      background-color: var(--ssf-light-primary-darken);
      display: flex;
      height: 50px;
      justify-content: center;
      left: 0;
      padding: 0 30px;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 9;

      @include tablet-and-up {
        display: none;
      }

      .back-icon {
        position: absolute;
        left: 8px;
      }
    }

    .close-side-modal {
      position: absolute;
      right: -26px;
      top: 60px;
      display: none;

      @include tablet-and-up {
        display: block;
      }
    }

    .modal-container {
      height: 100%;
      overflow: hidden;
      padding: 50px 40px 0;

      @include tablet-and-up {
        padding-right: 20px;
      }

      .modal-scroll-container {
        overflow-y: auto;
        overflow-x: hidden;
        height: 100%;
        width: calc(100% + 40px);

        &.padding-both-sides {
          width: 100%;
        }
      }
    }
  }

  &.slide-from-left {
    .modal-content {
      animation-name: slide-from-left;
    }
  }

  &.slide-from-right {
    .modal-content {
      animation-name: slide-from-right;
      left: auto;
      position: fixed;
      right: 0;

      .close-side-modal {
        right: auto;
        left: -26px;
      }
    }
  }

  .modal-content,
  .modal-dialog {
    height: 100%;
  }

  .modal-content {
    @include tablet-and-up {
      width: 408px;
    }
  }

  .modal-dialog {
    margin: 0;
  }
}

.side-modal-backdrop {
  animation-duration: 0.5s;
  animation-name: fade-in;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);

  &.show {
    opacity: 0.8;
  }
}

@keyframes slide-from-left {
  0% {
    transform: translateX(-100%);
  }
  20% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-from-right {
  0% {
    transform: translateX(100vw);
  }
  20% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
